html,
body {
	height: 100%;
}

#star-logo {
	width: 93px;
	height: auto;
	position: relative;
	top: -35px;
	left: -21px;
}

#star-logo-nav {
	width: 50px;
	height: auto;
}
.logo-container {
	position: relative;
	left: 75px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 50px;
	z-index: 1;
}

.banner {
	padding-top: 125px;
	width: 100%;
}

.logo-title,
.logo-nav-title {
	font-size: 30px;
	line-height: 40px;

	font-weight: 300;
	z-index: 3;
}
.logo-title {
	font-size: 2.3vw;
	text-align: center;
}
.logo-nav-title {
	font-size: 4vw;
}

.star-card {
	height: 700px;
	z-index: -1;
	background-image: url('https://s3.ap-northeast-2.amazonaws.com/outland-test-site/greg-rakozy-38802.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.star-text {
	margin-top: auto;
}

.link1 {
	color: #dd5b98 !important;
}
.link2 {
	color: #e2df59 !important;
}
.link3 {
	color: #fab555 !important;
}
.link4 {
	color: #6ad57f !important;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
	color: #9e9e9e !important;
}
